.header {
  height: 70px;
  line-height: 35px;
  background-color: #fdf7ee;
  padding-left: 25px;
  padding-right: 25px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  transition:
    transform 0.5s ease,
    opacity 0.3s ease;
}

.header.is-hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.header:not(.is-hidden) {
  transform: translateY(0);
  opacity: 1;
}

.navigation {
  display: none;

  @include on-desktop {
    font-family: Commissioner, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #2b2b2b;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
      list-style-type: none;
      display: flex;
    }

    &__item {
      margin-right: 32px;
      cursor: pointer;

      &--first {
        margin-right: 64px;
      }

      &--language {
        border: none;
        background-color: inherit;
        color: inherit;
        font-family: inherit;
        font-weight: 600;
        font-size: 12px;
      }
    }
  }
}

.header-mobile {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 15px, 16px, 15px, 16px;
  height: 80px;
  max-width: 390px;

  @include on-tablet {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 15px, 16px, 15px, 16px;
    height: 80px;
    max-width: 768px;
  }

  @include on-desktop {
    display: none;
  }

  &__logo_link {
    padding: 0px, 30px, 0px, 30px;
    border: 2px;
    border-radius: 10000px;
    display: flex;
    height: 50px;
    width: 117px;
    border: solid 2px;
    padding: 0px, 30px, 0px, 30px;
    border-radius: 10000px;
    border-color: #f1eade;
    align-items: center;
    justify-content: center;
  }

  &__icon-link {
    display: flex;
    width: 50px;
    height: 50px;
    border: solid 2px;
    border-radius: 50%;
    border-color: #f1eade;
    align-items: center;
    justify-content: center;
  }
}
